@media (min-width: $desktop-width) {
  .navbar-layer {
    flex-grow: 1;
    margin: 0 auto;
  }

  .navbar-layer-1 {
    font-size: 14px;
    line-height: 17px;
    padding: 10px 20px;
  }

  .navbar-layer-1 ul {
    max-width: 650px;
  }

  .navbar-layer-2 {
    font-size: 14px;
    line-height: 17px;
    padding: 20px 20px 20px 140px;
  }
}

@media (min-width: $desktop-xl-width) {
  .navbar-layer {
    max-width: 1260px;
    padding-right: 30px;
    outline: 2px dotted yellowgreen; /////////
    outline-offset: -2px;  //////////////
  }

  .navbar-layer-1 {
    padding-left: 30px;
  }
}

// ----- Для фиксации меню на 1800px ------ //

@media (min-width: $desktop-xl-width + 600px) {
  .navbar-layer {
    width: 1260px;
  }
}

//////////
