.promo {
  min-height: 350px;
  background-color: var(--basic-blue);
  background-image:
    url("/img/illustration-full3.png"),
    url("/img/dark-sky-stars.png");
  background-position: bottom 8px center, top;
  background-size: 100% auto, 100% 338px;
  background-repeat: no-repeat, no-repeat;
}

@media (min-width: $mobile-width + 180px) {
  .promo {
    min-height: 500px;
    background-size: 100% auto, 100% 488px;
  }
}

@media (min-width: $tablet-width) {
  .promo {
    min-height: 700px;
    background-size: 100% auto, 100% 686px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    min-height: 750px;
    background-size: cover, 100% 736px;
  }
}

@media (min-width: $desktop-width + 108px) {
  .promo {
    min-height: 850px;
    background-size: cover, 100% 835px;
  }
}
//////////
