.promo {
  min-height: 500px;
  background-color: var(--basic-blue);
  background-image: url("/img/illustration-full.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  // object-fit: scale-down;
}

//////////
